__debug__/**
__local__/**
__local__/
private/**
.DS_Store
data/*
_dev**
.vscode
__pycache__
.coverage
runs/**
init.sh
_check*.py
_utils/**
results/**
**.csv
_andriy/**
**.npy
**.pkl
**.json
**.png
wandb/**
_manual_sync_wandb.py

.cursor/
*.log
*.pdf
results/dump/
.chainlink/
.claude/
